.social {
  display: flex;
  justify-content: center;

  &__item {
    margin: 0 13px;

    &:hover .social__icon--insta {
      fill: #bc1888;
    }

    &:hover .social__icon--yt {
      fill: #f70000;
    }

    &:hover .social__icon--vk {
      fill: #5181b8;
    }
  }

  &__icon {
    @include size(26px);
    fill: #fff;
    transition: all 0.3s;
  }
}
