.title {
  font: 700 48px $font-Raleway;
  line-height: 57px;
  color: #fff;

  &--s {
    font-size: 40px;
    line-height: 47px;
  }

  &--xs {
    font-size: 32px;
    line-height: 38px;
  }
}

.bold {
  font-weight: 700;
  cursor: pointer;
}

.upper {
  text-transform: uppercase;
}
