.header {
  background: url(../images/header-bg.jpg) no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  position: relative;

  &::before {
    @include size(100%, 120px);
    @include pos($t: 0, $z: -1);

    content: "";
    background: rgb(0, 0, 0);
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.78) 100%
    );
  }

  &::after {
    @include size(100%, 180px);
    @include pos($b: 0);

    content: "";
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(3, 3, 3, 0.53) 45.31%,
      #060606 100%
    );
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    // height: 120px;
    padding-top: 35px;
    margin-bottom: 125px;
  }

  &__wrap {
    width: 480px;
  }

  &__text {
    color: #fff;
    font-size: 18px;
    line-height: 25px;
    padding: 15px 165px 25px 0;
  }
}
